/*.header__Container {
  display: none;
}*/

.header__Logo {
  display: block;
  max-width: 100%;
}

.Header {
  padding: 2.2rem 0 9.34rem 0;
  position: relative;
}

.header__Group:first-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  margin-bottom: 22px;
  padding: 0 22px 0 23.5px;
  position: relative;
}

.header__btn, .header__Btn-Menu, .form__btn, .form__Input{
  appearance: none;
  border: none;
  font-family: inherit;
  display: block;
}

.header__Btn-Menu {
  display: flex;
  font-size: 1.51rem;
  background-color: transparent;
  cursor: pointer;
}

.header__Icon-Btn-Menu {
  color: #9c9aa5;
}

.header__Ilustration{
    background-image: url(../images/illustration-working.svg);
    background-repeat: no-repeat;
    background-position: 20px top;
    background-size: 510px 336px;
    width: 100%;
    height: 340px;
    margin-bottom: 2.15rem;
}

.header__Title{
  font-weight: 700;
  font-style: normal;
  font-size: 2.33rem;
  color: var(--very-dark-blue);
  text-align: center;
  letter-spacing: -0.95px;
  max-width: 375px;
  margin-bottom: 12px;
  line-height: 1.15;
}

.header__description{
  font-weight: 500;
  font-size: 1rem;
  color: var(--grayish-violet);
  text-align: center;
  padding: 0 15px 0 15px;
  line-height: 1.65;
  width: 375px;
  margin-bottom: 31px;
}

.header__Container-Collapse:not(.header__Container_Show){
  display: none;
}

.header__Container_Collapsing{
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}

.header__Container{
  position: absolute;/*in relation a header__group:first-child*/
  background-color: var(--dark-violet);
  max-width: 329.5px;
  width: 100%;
  top: 56px;
  z-index: 1000;
  padding: 0 24px 0 24px;
  border-radius: 10px;
}

.header__Buttons{
  padding: 31px 0 40px 0;
}

.nav__List-Links{
  list-style: none;
}

.nav__Link{
  display: block;
  text-decoration: none;
  color: #FFFEFF;
  font-weight: 700;
  font-size: 1rem;
  font-style: normal;
  margin-bottom: 36px;
  text-align: center;
}

.nav__item:last-child .nav__Link{
  margin-bottom: 34px;
}

.Nav{
  padding: 43px 0 0 0;
  border-bottom: 1px solid hsla(300, 100%, 100%, 0.2);
}

.header__btn{
  display: block;
  color: #FFFEFF;
  font-weight: 700;
  font-size: 1rem;
  font-style: normal;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
}

.header__btn:first-child{
  margin: 0 auto 25px auto;
}

.header__btn:last-child, .form__btn{
  background-color: var(--cyan);
  padding: 11px 0 10px 0;
  width: 100%;
  border-radius: 45px;
}

.header__Content .header__btn{
  padding: 14px 0px 13px 0;
  width: 195px;
  margin: 0 auto;
  font-size: 1.05rem;
  font-weight: 700;
  border-radius: 55px;
  cursor: pointer;
}

.header__Content .header__btn:is(:hover, :focus){
  opacity: 0.6;
}

/*
.header__Group:nth-child(2){
  margin-bottom: 88px;
}*/

.Form{
  display: block;
  padding: 0;
  margin: 0;
  border: none;
  background-image: url(../images/bg-shorten-mobile.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-color: var(--dark-violet);
  padding: 23px 24px 26px 24px;
  max-width: 327px;
  margin: 0 auto;
  border-radius: 8px;
  position: absolute;
  z-index: 1001;
  bottom: -80px;
  left: 6.3%;
  right: 6.3%;
}

.form__Input, .form__btn{
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
  width: 100%;
}

.form__Input{
  font-size: 0.9rem;
  padding: 13.3px 0 10px 16px;
  margin-bottom: 15px;
  color: var(--very-dark-violet);
  border-radius: 5px;
}

.form__btn{
  padding: 10px 0 11px 0;
  border-radius: 5px;
  font-size: 1rem;
  color: #FFFEFF;
  font-weight: 700;
  cursor: pointer;
}

.form__btn:is(:hover, :focus) {
  background-color: #9BE2E2;
}